<div id="game-container">
	<canvas></canvas>
</div>

<button id="send">Отправить ставки</button>
<div id="results"></div>
<div id="sended"></div>

<script src="./public/bundle.js"></script>
<script src="./public/games/bingo37/js/bundle.js"></script>